.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form label {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form button {
    padding: 5px 10px;
    font-size: 16px;
  }